body {
  font-family: 'Space Grotesk', sans-serif;
  font-weight: 300;
}
/* App */
.wrapper {
  min-height: 100vh;
}
/* Signin */
.wrapper-auth-image {
  max-height: 100vh;
}
.wrapper-auth-image img {
  width: 100%;
}

/* search activities */
.button-search {
  margin-top: 24px;
  margin-left: 5px;
}

@media only screen and (min-width: 1024px) {
  .wrapper-auth-image img {
    min-height: 100vh;
  }
}

@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation: portrait) {
  .wrapper-auth-image img {
    height: auto;
    overflow: hidden;
  }
}
