.concept-wrapper {
  padding: 60px;
  margin-top: -7px;
  /* background-color: #f4f4f4; */
  background: #ee9ca7; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #ffdde1,
    #ee9ca7
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #ffdde1,
    #ee9ca7
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.concept-wrapper h4 {
  margin-bottom: 20px;
}

.concept-wrapper p {
  margin-top: 20px;
  font-size: 20px;
  line-height: 1.5;
  letter-spacing: 0;
  color: #4a4a4a;
}
